
<h1>WELCOME  TO  KAYBEE'S  BED  AND  BREAKFAST</h1>
  
<div style="margin: auto; width: 260px">

  <h2>BOOKINGS</h2>
  <label >name:</label>
 <br>
  <input type="text" name="name" [(ngModel)]= "name">
  <br>
  <label>surname:</label>
  <br>
  <input type="surname" name="surname" [(ngModel)]= "surname">
  <br>
  <label>age:</label>
  <br>
  <input type="age" name="age" [(ngModel)]= "age">
  <br>
  <label>date:</label>
  <br>
  <input type="date" name="date" [(ngModel)]= "date">
  <br>
  <label>email:</label>
  <br>
  <input type="email" name="email" [(ngModel)]= "email">
  <br>
  <label>timein:</label>
  <br>
  <input type="timein" name="timein"[(ngModel)]= "timein">
  <br>
  <label>timeout:</label>
  <br>
  <input type="timeout" name="timeout"[(ngModel)]= "timeout">
  <br>
  <button type="submit" (click)="onLogin()">Submit</button>

  </div>


